@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2dea0;
  --cor01: #f2dea0;
  --cor02: #402d09;
  --cor03: #d9a036;
  --cor04: #73551f;
  --cor05: #d97925;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #402d09;
  background: var(--background);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
